<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Alterar Pessoa</title>
        <meta charset="uft-8">
    </head>
    
    <body>
        <h1>Alterar Pessoa</h1>
        <br>
        <br>
        <hr>
        <br>
        <form action="/exibir_mensagem">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Fulana">
        
            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade" placeholder="60">
        
            <label for="cidade">Cidade:</label>
            <input type="text" id="candois" name="cidade" placeholder="Fim do mundo">
            
            <label for="ID">ID:</label>
            <select name="id">
                <option value="1">1</option>
                <option value="2">2</option>
                
            </select>

            <input type="submit" value="Editar">
        </form>
    </body>
</html>
