<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>inicio</title>
    <meta charset="uft-8">
</head>

<body>
    <h1>Inserir pessoa</h1>
    <br
    <br>
    <form action="/exibir_mensagem">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Fulana">
    
        <label for="idade">Idade:</label>
        <input type="text" id="idade" name="idade" placeholder="60">
    
        <label for="cidade">Cidade:</label>
        <input type="text" id="candois" name="cidade" placeholder="Fim do mundo">

        <input type="submit" value="Inserir">
    </form>
</body>
</html>