<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>inicio</title>
    <meta charset="uft-8">
</head>

<body>
    <h1>Inserir pessoa</h1>
    <br>
    <br>
    <form action="/processar_inserir">

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf">

        <label for="nome">Nome:</label>
        <input type="text" name="nome">
    
        <label for="endereco">Endereco:</label>
        <input type="text" name="endereco">
    
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone">

        <input type="submit" value="Inserir">
    </form>
</body>
</html>