<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Listar Pessoa</title>
        <meta charset="uft-8">
    </head>
    
    <body>

        <h1>Listar Pessoas</h1>
        <br>
        <br>
        <hr>
        {%for p in usuarios:%}
            <strong>{{p.cpf}}</strong> &nbsp; {{p.nome}} &nbsp; {{p.endereco}} &nbsp; {{p.telefone}} &nbsp; <a href=/excluir_pessoa?cpf={{p.cpf}}>Excluir</a>
            <br>
            <br>
        {%endfor%}
        <hr>
        <a href="/alterar_pessoa">Alterar Pessoa</a>
        <br>
        <a href="/inserir_pessoa">Inserir Pessoa</a>
        
    </body>
</html>