<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>lISTAR pESSOA</title>
        <meta charset="uft-8">
    </head>
    
    <body>

        <h1>Listar Pessoas</h1>
        <br>
        <br>
        <hr>
        <h2>Gabriel Lima</h2>

        <ul>
            <li>Id: 2</li>
            <li>Idade: 16</li>
            <li>Cidade: Pomerode</li>
        </ul>
        <br>
        <hr>
        <h2>Natália</h2>

        <ul>
            <li>Id: 1</li>
            <li>Idade: 16</li>
            <li>Cidade: Blumenau</li>        
        </ul>

        <br>
        <br>
        <hr>
        <a href="/alterar_pessoa">Alterar Pessoa</a>
        <br>
        <a href="/inserir_pessoa">Inserir Pessoa</a>
        
    </body>
</html>